.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgb(26, 7, 1);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.user-greeting{
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
  transition: color 0.3s, transform 0.2s;
}

.navlinks a:hover {
  color: #ffd700;
  transform: translateY(-2px);
}


.navlinks img {
  height: 95px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.authtoggleBtn {
  background-color: white;
  color: rgb(26, 7, 1);
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  margin: 0px;
}

.authtoggleBtn:hover {
  background-color: #f57c00;
  color: white;
  transform: scale(1.05);
}


.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #f57c00;
  margin-left: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #f57c00;
  transform: scale(1.05);
}

.cart-icon {
  color: #f57c00;
  font-size: 22px !important;
  transition: color 0.3s ease;
}

.cart-btn:hover .cart-icon {
  color: white;
}

@media (max-width: 768px) {
  .navlinks {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .navlinks a {
    font-size: 10px;
    margin: 5px;
  }

  .authtoggleBtn {
    font-size: 15px;
    padding: 6px 12px;
  }

  .cart-btn {
    width: 20px;
    height: 20px;
  }
 
  .cart-badge{
    width: 10px;
    height: 10px;
  }
  .navlinks img {
    height: 50px;
  }
  .authtoggleBtn{
    width: 50px;
    font-size: 10px;
    padding: 5px;
  }
}